body {
  background-color: var(--primary);
}

.top_bar {
  justify-content: space-between;
  padding-inline: 20%;
  padding-block: 0.65rem;
}

.top_bar ul {
  display: flex;
  gap: 1rem;
  color: white;
}

header {
  background: white;
  padding-block: 0.75rem;
}
.above_main {
  max-width: 960px;
  margin-inline: auto;
  justify-content: space-between;
}
main {
  background-color: #d9d9d9;
  max-width: 960px;
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(4, auto);
}
.above_main {
  margin-block-end: 0.8rem;
}

.stats {
  background-color: var(--light);
  border-radius: 5px;
  padding: 0.5em 1em;
}
.stats p:not(:last-child) {
  margin-block-end: 0.25em;
}
.get_hint {
  background: linear-gradient(90deg, #b0b4ff 2.71%, #dfb7ff 100%);
  border-radius: 25px;
  font-size: 1.5rem;
  padding: 0.35em 1.25em;
}
.main_top {
  justify-content: space-between;
}
.stopwatch {
  font-size: 1.5rem;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 1em;
}
.date {
  flex-direction: column;
}
.date_value {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
}
.date_format {
  font-size: 1rem;
}
.options {
  grid-row-start: -1;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  gap: 1.5rem 5rem;
}
.day:nth-child(7) {
  grid-column-start: 2;
}
.day {
  padding: 0.5em 1.15em;
  border-radius: 5px;
  background: #f7e9ff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
}
