body {
  background-color: var(--primary);
}

.top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20%;
  padding-block: 0.65rem;
}
ul {
  list-style: none;
}
.top_bar ul {
  display: flex;
  gap: 1rem;
}

header {
  background: white;
  padding-block: 0.75rem;
  display: grid;
  place-items: center;
}
.above_main {
  max-width: 960px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main {
  background-color: #d9d9d9;
  max-width: 960px;
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
}
.main_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer {
  background-color: var(--primary-dark);
  color: white;
  display: grid;
  place-items: center;
  font-size: 0.85rem;
  padding-block: 1em;
}
