@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@600&display=swap");
:root {
  --primary: #009e82;
  --primary-dark: #00261f;
  --secondary: #f0932a;
  --accent-one: #b0b4ff;
  --accent-two: #dfb7ff;
  --correct: #a9ff1c;
  --incorrect: #ff1c1c;
  --light: #f7e9ff;
  --dark: #333333;
  --max-width: 960px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Inter";
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
::selection {
  background-color: var(--secondary);
  color: black;
}
::-moz-selection {
  background-color: var(--secondary);
  color: black;
}
h1,
h2,
h3 {
  font-family: "Poppins";
}
h1 {
  text-align: center;
  line-height: 1.2;
  font-size: clamp(1.375rem, 1.711vw + 0.947rem, 3rem);
}

button {
  font: inherit;
  all: unset;
  cursor: pointer;
  transition: translate 0.3s ease-out;
}
button:hover {
  translate: 0.1em 0.1em;
}
button:focus-visible,
a:focus-visible {
  outline: 2px dashed var(--primary-dark);
}
a {
  text-decoration: none;
  color: black;
  opacity: 0.85;
}
a:hover {
  text-decoration: 3px solid underline;
  opacity: 1;
}
ul {
  list-style: none;
}
header {
  margin-block-end: 1.1rem;
}
footer {
  background-color: var(--primary-dark);
  color: white;
  padding-block: 1em;
  margin-block-start: 1.1rem;
}
img {
  user-select: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  flex: 1 0 auto;
}
.hidden {
  visibility: hidden;
  margin-block: 20px;
}
