@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@600&display=swap");
:root {
  --primary-colour: #009e82;
  --secondary-colour: #f0932a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Inter";
  background: var(--primary-colour);
}
h1,
h2 {
  font-family: "Poppins";
  margin-block-end: 1em;
}
